body{
    text-align: center;
    margin: 0;
    font-weight: normal;
}

#planet{
    width: 460px;
    margin: 0 auto 65px;
    
}
#planet img{
    margin-bottom: 32px;
}
p{
    color: #828282;
    font-size: 15px;
}

#planet span{
    font-weight: bold;
    color: #3F3D56;
    
}

#planet h2 {
    font-weight: normal;
    color: #3F3D56;
    font-family: "Dosis", sans-serif;
}

#planet h2 span{
    font-weight: bold;
    color: #EE24FF;
}

#footer a{
    text-decoration: none;
    color: #3F3D56;
    font-weight: bold;
}


#footer a + a {
    margin-left: 42px;
}

#line{
    width: 391px;
    height: 0;

    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}